
.scroll-top {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 1030; }

.myfooter {
    background: #ffffff;
    padding: 1.5rem 0; }

.nav-fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030; }